* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1440px;
  background-color: aqua;
  margin-inline: auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: flex;
}
nav a {
  color: white;
  font-size: 18px;
  font-weight: 600;
  width: 100px;
  display: block;
  text-decoration: none;
}

.logo {
  height: 35px;
  width: 101px;
}

.language {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
}
.hero {
  background-image: url("./images/HeroImage.png");
  height: 773px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.location {
  background-image: url(images/Location\ image.png);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.location-style {
  border-radius: 40px;
  position: relative;
  box-shadow: #29728b;
  color: white;
}

.location-style h2 {
  position: absolute;
  top: 35%;
  text-align: center;
}

.location-style h1 {
  position: absolute;
  top: 39%;
  font-size: 24px;
  text-align: center;
  width: 100%;
}

.location-image {
  border-radius: 20px;
  height: 370px;
}

.roadmap {
  background-image: url(images/Roadmap\ image.png);
  height: 1022px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.foot-image {
  background-image: url(images/Price&Footer\ image.png);
  height: 1120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
